@model Security1.Models.HomeModel

@{
    ViewBag.Title = "Awesome Book";
}

<div class="jumbotron" style="padding: 20px">

    <div style="border: 1px solid #676767; float: left; margin-right: 40px;">
        <img src="~/images/book.jpg" />
    </div>

    <h1>The Awesome Book</h1>

    <p class="lead">This book is full of awesomeness.</p>

    <p>
        <a href="" class="btn btn-primary btn-lg">Add to Cart</a>
    </p>

    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Reviews</h2>

        <div>
            <hr style="border-color: #454545" />
            @foreach (var review in Model.Reviews)
            {
                <div>
                    <strong>@review.Author</strong>
                    <br/>
                    @if (Request.QueryString.AllKeys.Contains("escape"))
                    {
                        <p>@review.Text</p>
                    }
                    else
                    {
                        <p>@Html.Raw(review.Text)</p>
                    }
                </div>
                <hr style="border-color: #454545" />
            }
        </div>

        <div class="well">
            <h3 style="margin-top:0">Add Review</h3>
            @using (Html.BeginForm("Review", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.TextArea("review", new { @class = "form-control", rows = 4 })
                </div>

                <button type="submit" class="btn btn-primary">Submit Review</button>
            }
        </div>

    </div>
</div>